<div class="page-content">
   <div class="page-header">
      <h1>Dashboard<small><i class="ace-icon fa fa-angle-double-right"></i>Activities &amp; Announcements</small></h1>
   </div>
   <div class="row">
      <div class="col-xs-12">
         <div class="row">
            <div class="col-sm-12">
               <div class="tabbable">
                  <ul class="nav nav-tabs" id="myTab">
                     <li class="active">
                        <a data-toggle="tab" href="#home">
                        <i class="green ace-icon fa fa-home bigger-120"></i> ACTIVITY
                        </a>
                     </li>
                     <li>
                        <a data-toggle="tab" href="#messages">
                        ANNOUNCEMENT
                        </a>
                     </li>
                  </ul>
                  <div class="tab-content">
                     <div id="home" class="tab-pane fade in active">
                        <!--  -->
                        <div class="row">
                           <div class="col-xs-12">
                              <div class="clearfix">
                                 <div class="pull-right tableTools-container"></div>
                              </div>
                              <div class="table-header">
                                 Activity Lists
                              </div>
                              <!-- div.table-responsive -->
                              <!-- div.dataTables_borderWrap -->
                              <div>
                                 <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                       <tr>
                                          <th class="center">
                                             <label class="pos-rel">
                                             <input type="checkbox" class="ace" />
                                             <span class="lbl"></span>
                                             </label>
                                          </th>
                                          <th width="25%">Activity</th>
                                          <th>Date</th>
                                          <th class="hidden-480">Time</th>
                                          <th width="20%">
                                             <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i> Venue
                                          </th>
                                          <th class="hidden-480">Status</th>
                                          <th>Maintenance</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr>
                                          <td class="center">
                                             <label class="pos-rel">
                                             <input type="checkbox" class="ace" />
                                             <span class="lbl"></span>
                                             </label>
                                          </td>
                                          <td>
                                             <a href="#" data-mimo="modal:amanah;">Majlis Amanah Rakyat</a>
                                          </td>
                                          <td>26/10/2016</td>
                                          <td class="hidden-480">12:00 AM</td>
                                          <td>Bangunan Dewan Bandaraya KL</td>
                                          <td class="hidden-480" align="center">
                                             <span class="label label-sm label-success">Live</span>
                                          </td>
                                          <td>
                                             <div class="hidden-sm hidden-xs action-buttons">
                                                <a class="blue" href="#">
                                                <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                                </a>
                                                <a class="green" href="#">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                </a>
                                                <a class="red" href="#">
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                </a>
                                             </div>
                                             <div class="hidden-md hidden-lg">
                                                <div class="inline pos-rel">
                                                   <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                   <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                   </button>
                                                   <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                      <li>
                                                         <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                         <span class="blue">
                                                         <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                         </span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                         <span class="green">
                                                         <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                         </span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                         <span class="red">
                                                         <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                         </span>
                                                         </a>
                                                      </li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td class="center">
                                             <label class="pos-rel">
                                             <input type="checkbox" class="ace" />
                                             <span class="lbl"></span>
                                             </label>
                                          </td>
                                          <td>
                                             <a href="#">Sambutan Ulang Tahun Majlis Perbandaran Pasir Gudang</a>
                                          </td>
                                          <td>02/11/2016</td>
                                          <td class="hidden-480">08:00 AM</td>
                                          <td>Dewan Majlis Perbandaran Pasir Gudang</td>
                                          <td class="hidden-480" align="center">
                                             <span class="label label-sm label-warning">KIV</span>
                                          </td>
                                          <td>
                                             <div class="hidden-sm hidden-xs action-buttons">
                                                <a class="blue" href="#">
                                                <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                                </a>
                                                <a class="green" href="#">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                </a>
                                                <a class="red" href="#">
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                </a>
                                             </div>
                                             <div class="hidden-md hidden-lg">
                                                <div class="inline pos-rel">
                                                   <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                   <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                   </button>
                                                   <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                      <li>
                                                         <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                         <span class="blue">
                                                         <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                         </span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                         <span class="green">
                                                         <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                         </span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                         <span class="red">
                                                         <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                         </span>
                                                         </a>
                                                      </li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                           <!-- Pop Up -->
                           <div class="mimo_modal col-md-12 col-xs-12" id="amanah">
                              <img style="opacity: 1;" src="/images/section2/mypg1.png">
                              <div class="profile-user-info profile-user-info-striped">
                                 <div class="profile-info-row">
                                    <div class="profile-info-name"> Username </div>
                                    <div class="profile-info-value">
                                       <span class="editable" id="username">alexdoe</span>
                                    </div>
                                 </div>
                                 <div class="profile-info-row">
                                    <div class="profile-info-name"> Location </div>
                                    <div class="profile-info-value">
                                       <i class="fa fa-map-marker light-orange bigger-110"></i>
                                       <span class="editable" id="country">Netherlands</span>
                                       <span class="editable" id="city">Amsterdam</span>
                                    </div>
                                 </div>
                                 <div class="profile-info-row">
                                    <div class="profile-info-name"> Age </div>
                                    <div class="profile-info-value">
                                       <span class="editable" id="age">38</span>
                                    </div>
                                 </div>
                                 <div class="profile-info-row">
                                    <div class="profile-info-name"> Joined </div>
                                    <div class="profile-info-value">
                                       <span class="editable" id="signup">2010/06/20</span>
                                    </div>
                                 </div>
                                 <div class="profile-info-row">
                                    <div class="profile-info-name"> Last Online </div>
                                    <div class="profile-info-value">
                                       <span class="editable" id="login">3 hours ago</span>
                                    </div>
                                 </div>
                                 <div class="profile-info-row">
                                    <div class="profile-info-name"> About Me </div>
                                    <div class="profile-info-value">
                                       <span class="editable" id="about">Editable as WYSIWYG</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- Pop Up Ends -->
                        </div>
                     </div>
                     <div id="messages" class="tab-pane fade">
                        <div class="row">
                           <div class="col-xs-12">
                              <div class="clearfix">
                                 <div class="pull-right tableTools-container"></div>
                              </div>
                              <div class="table-header">
                                 Announcement Lists
                              </div>
                              <!-- div.table-responsive -->
                              <!-- div.dataTables_borderWrap -->
                              <div>
                                 <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                       <tr>
                                          <th class="center">
                                             <label class="pos-rel">
                                             <input type="checkbox" class="ace" />
                                             <span class="lbl"></span>
                                             </label>
                                          </th>
                                          <th>Activity</th>
                                          <th>Date</th>
                                          <th class="hidden-480">Time</th>
                                          <th>
                                             <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i> Venue
                                          </th>
                                          <th class="hidden-480">Status</th>
                                          <th>Maintenance</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr>
                                          <td class="center">
                                             <label class="pos-rel">
                                             <input type="checkbox" class="ace" />
                                             <span class="lbl"></span>
                                             </label>
                                          </td>
                                          <td>
                                             <a href="#">app.com</a>
                                          </td>
                                          <td>$45</td>
                                          <td class="hidden-480">3,330</td>
                                          <td>Feb 12</td>
                                          <td class="hidden-480">
                                             <span class="label label-sm label-warning">Expiring</span>
                                          </td>
                                          <td>
                                             <div class="hidden-sm hidden-xs action-buttons">
                                                <a class="blue" href="#">
                                                <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                                </a>
                                                <a class="green" href="#">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                </a>
                                                <a class="red" href="#">
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                </a>
                                             </div>
                                             <div class="hidden-md hidden-lg">
                                                <div class="inline pos-rel">
                                                   <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                   <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                   </button>
                                                   <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                      <li>
                                                         <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                         <span class="blue">
                                                         <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                         </span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                         <span class="green">
                                                         <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                         </span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                         <span class="red">
                                                         <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                         </span>
                                                         </a>
                                                      </li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td class="center">
                                             <label class="pos-rel">
                                             <input type="checkbox" class="ace" />
                                             <span class="lbl"></span>
                                             </label>
                                          </td>
                                          <td>
                                             <a href="#">base.com</a>
                                          </td>
                                          <td>$35</td>
                                          <td class="hidden-480">2,595</td>
                                          <td>Feb 18</td>
                                          <td class="hidden-480">
                                             <span class="label label-sm label-success">Registered</span>
                                          </td>
                                          <td>
                                             <div class="hidden-sm hidden-xs action-buttons">
                                                <a class="blue" href="#">
                                                <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                                </a>
                                                <a class="green" href="#">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                </a>
                                                <a class="red" href="#">
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                </a>
                                             </div>
                                             <div class="hidden-md hidden-lg">
                                                <div class="inline pos-rel">
                                                   <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                   <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                   </button>
                                                   <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                      <li>
                                                         <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                         <span class="blue">
                                                         <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                         </span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                         <span class="green">
                                                         <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                         </span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                         <span class="red">
                                                         <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                         </span>
                                                         </a>
                                                      </li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div id="dropdown1" class="tab-pane fade">
                        <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
                     </div>
                     <div id="dropdown2" class="tab-pane fade">
                        <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore
                           wolf cliche high life echo park Austin.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <!-- /.col -->
         </div>
      </div>
   </div>
</div>
