<div class="panel panel-primary">
  <div class="panel-heading">New Activtiy</div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" placeholder="Enter text ..." class="form-control" required></textarea>
      </div>
      <div class="form-group">
        <label for="dateTime">Date & Time</label>
        <input type="text" class="form-control" id="dateTime" placeholder="Date & Time" required>
      </div>
      <div class="form-group">
        <label for="venue">Venue</label>
        <input type="text" class="form-control" id="venue" placeholder="Venue" required>
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location" placeholder="Location" required>
      </div>

      <button type="submit" class="btn btn-primary">Save Activity</button>
    </form>

  </div>
</div>

<script src="../assets/js/bootstrap3-wysihtml5.all.min.js"></script>
<script type="text/javascript">
  $(function() {
    $('#description').wysihtml5();
  });
</script>
